firebase.json
.gatsby-context.js
.DS_Store
public/
build/
.cache/
.runtimeconfig.json
npm-debug.log
node_modules/
# IDE specific
.vscode/
coverage
backstop_data/html_report/
backstop_data/bitmaps_test/
